{% extends "sla_app/boot_base.html" %}

{% block content %}


{% if next %}
    {% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            <p>Your account doesn't have access to this page. To proceed,please login with an account that has access.</p>
        </div>
    </div>

    {% else %}
    <div class="container">
        <div class="row">
            <p>Please login to see this page.</p>
        </div>
    </div>
    
    {% endif %}
{% endif %}

<div class="container text-center">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="page-header">
              <h4>Create Service Contract <small></small></h4>
              <h4><small>Add all the terms of your contract</small></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-
        12">
            <form class="form-inline" method="POST" action='/slapp/company/{{company.id}}/service_contract/{{list.id}}/add_item'>
                {%csrf_token%}
                <div class="form-group">
                    <label for="detail">Enter Service Detail</label>
                    <input type="text" class="form-control" name="item_text" id="id_new_item"  placeholder="Eg .- Product Delivered on Time.">
                </div>
                <button type="submit" class="btn btn-default">Add Contract Point</button>
            </form>        
            <table id='id_list_table'> 
                {% for item in list.item_set.all %}
                <tr><td>{{forloop.counter}}: {{ item.text }} </td></tr> 
                {% endfor %}
            </table>
        </div>
    </div>

</div>

{# Assumes you setup the password_reset view in your URLconf #}

<div class="container text-center">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <p><a href="{% url 'logout' %}">Logout</a></p>  
        </div>
    </div>
</div>

{% endblock %}
