{% extends "sla_app/boot_base.html" %}

{% block content %}
<section class="action-button-section">
    <div class="row">
        <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-lg btn-block">Clients <strong>EVALUATE</strong> Service</button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-lg btn-block">Companies <strong>MANAGE</strong> Services</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary btn-lg btn-block"><strong>EXPLORE</strong> Companies & Services</button>
        </div>
    </div>
</section>
{% endblock %}