{% extends "sla_app/boot_base.html" %}

{% block content %}
<section class="action-button-section">
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <button type="button" class="boton btn btn-lg btn-block boton" style="white-space: normal;">Clients <strong>EVALUATE</strong> Service</button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="boton btn btn-lg btn-block boton" style="white-space: normal;">Companies <strong>MANAGE</strong> Services</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="boton btn btn-lg btn-block " style="white-space: normal;"><strong>EXPLORE</strong> Companies & Services</button>
        </div>
    </div>
</div>
</section>
{% endblock %}