
html {
    position: relative;
    min-height: 100%;
    }

body {
    padding-top: 10em; /* 60px to make the container go all the way to the bottom of the topbar */
    /*background-color: #58657F;*/
    /* Margin bottom by footer height */
    margin-bottom: 5em;
    /*font-size:1.5em;*/
    font-family: 'Crimson Text', serif!important;
    }

h2 ,h4, small{
    font-family: 'Julius Sans One', sans-serif!important;
    color:#B1CAFF!important;
}
.navbar {
    background-color:#324B7F;
    /*border-radius: 1.5em 1.5em 0 0;*/
    }

a {text-decoration:none;
}
#providers_login {color: black!important;}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 7em;
    background-color: #324B7F;
    color:#B1CAFF!important;
    /*border-radius: 0 0 1.5em 1.5em;*/
    }

.social li a {
    color:#B1CAFF;
}
.action-button-section strong {
color:white;
}

.boton{
    white-space: normal; 
    padding: 1em;
    margin: 1em 0;
    background-color: #6496FF;
}
.boton:hover{
    background-color: #324B7F;
    color:#B1CAFF!important;
}